.item{
 text-align: center;
 width: 18%;
 min-width:150px;
 margin-left: 1.7%;
 margin-bottom: 10px;
 border: 1px solid rgb(216, 216, 216);
 border-radius: 10px;
} 

.item:hover{
  background-color: rgb(223, 223, 223);
}

.item-img{
  margin-top: 5px;
  max-width: 100% ;
}

.button-group{
  margin-bottom: 5px;
}

