.item{
 text-align: center;
 width: 18%;
 margin-left: 1.5%;
 margin-bottom: 10px;
 border: 1px solid rgb(216, 216, 216);
} 

.item:hover{
  background-color: rgb(223, 223, 223);
}

.item-img{
  max-width: 100% ;
}

.button-group{
  margin-bottom: 5px;
}