.wrapTitle{
    display: flex;
    height: 100px;
    /*background-color: yellow;*/
    line-height: 100px;
    text-align: center;
}

.wrapBody{
    width: 100%;
    overflow-x: hidden;
}

.leftContent{
  margin: auto;
    width: 90%;
    /*background-color: deeppink;*/
    display: flex;
    justify-content: space-between;
}

.item-line-content{
    width: 15vw;
    flex: 1;
    margin: 10px;
}

.item-content{
    width: 100%;
    overflow: hidden;
}

.wrap-image{
  width: 300px;
    font-size: 0;
    background: url(../../logo.svg) no-repeat center bottom;
}

.wrap-image:after{
    position: absolute;
    content: url(../../logo.svg);
    z-index: -1;
}

.wrap-image img{
  width: 80%;
}


.wrap-bottom{
    width: 100%;
    height: 50px;
    /*background-color: #fff;*/
}



.modal-container{
text-align: center;
width: 100%;
}
.show-pic{
  width: 100%;
  margin: auto;
}

.show-pic img{
  width:100%;
}

.footer{
  display: flex;
  justify-content: center;
}

.modal-button{
  margin-bottom: 20px;
}