.scroll-container {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}

.scroll-content {
  margin: auto;
  /*background-color: deeppink;*/
  display: flex;
  justify-content: center;
}


.line-container {
  width: 20%;
  margin-left: 5px;
}

.pic-item-container {
  border: 1px solid rgb(192, 192, 192);
  margin-top: 5px;
  width: 100%;
}

.pic-item-container:hover{
  background-color: rgb(218, 218, 218);
}

.item-line-content {
  margin: 10px;
}

.item-content {
  width: 100%;
  overflow: hidden;
}

.spin-container{
  height: 40px;
  margin-top: 20px;
}

.modal-container {
  text-align: center;
  width: 100%;
}

.show-pic {
  width: 100%;
  margin: auto;
}

.show-pic img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
}

.modal-button {
  margin-bottom: 20px;
}