.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pre-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.add {
  width: 300px;
  height: 80px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.add:hover {
  background-color: rgb(207, 207, 207);
}

.add span {
  color: rgb(112, 191, 255);
}

.button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.button:hover {
  color: #2290ff;
  border-color: #c6e2ff;
  background-color: #aed0fa
}